*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  inline-size: 1140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "result content__details";
  align-content: center;
  align-items: end;
  column-gap: 30px;
}

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  width: fit-content;
  display: flex;
}

.search-form__label:has(:focus-visible) {
  outline: solid 1px #fff;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}

.search-form__textfield {
  inline-size: 225px;
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: transparent;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #fff;
  appearance: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: solid 1px #fff;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  align-self: flex-end;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:focus-visible {
  outline: none;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  margin: auto;
  inline-size: 19px;
  block-size: 19px;
  margin-right: 3px;
  border: 1px solid #fff;
  position: relative;
  z-index: -1;
}

.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  margin: auto;
  inset: 0;
  inline-size: 15px;
  block-size: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  background-color: #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration-line: underline;
  cursor: pointer;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  grid-area: content__details;
}

.title {
  margin-bottom: 26px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 75px;
  line-height: 70px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  inline-size: 399px;
  block-size: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  max-inline-size: 196px;
  flex-grow: 1;
}

.content__video-card-title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  line-clamp: 1;
  overflow: hidden;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  padding: 0 3px;
}

.more-button {
  margin-top: 30px;
  inline-size: 100%;
  block-size: 34px;
}

.content__card-link_current {
  /*width: 1010px;*/
  background-color: #545050;
}

.content__card-link {
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: solid 1px #fff;
}
